*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font: inherit;
}

:root {
	--color-black: #000;
	--color-white: #fff;
	--color-grey: #777;
	--color-light: #efefef;
	--color-text: var(--color-black);
	--color-text-grey: var(--color-grey);
	--color-background: var(--color-white);
	--color-code-light-grey: #cacbd1;
	--color-code-comment: #a9aaad;
	--color-code-white: #c5c9c6;
	--color-code-red: #d16464;
	--color-code-orange: #de935f;
	--color-code-yellow: #f0c674;
	--color-code-green: #a7bd68;
	--color-code-aqua: #8abeb7;
	--color-code-blue: #7e9abf;
	--color-code-purple: #b294bb;
	--font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-family-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.wrapper {
	--padding: 1.5rem;
	width: min(100% - 2 * var(--padding), 70rem);
	margin-inline: auto;
}

html {
	font-family: var(--font-family-sans);
	color: var(--color-text);
	background: var(--color-background);
}
img {
	max-width: 100%;
	display: block;
}

p {
	max-width: 60ch;
	text-wrap: pretty;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

.flex-group {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--flex-gap, 1rem);
	row-gap: calc(var(--flex-gap, 1rem) / 2);
	width: fit-content;
	align-items: center;
}

.flex-group.space-between {
	justify-content: space-between;
	width: revert;
}

.flex-group.no-wrap {
	flex-wrap: nowrap;
}
